# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Kubernetes temp files
*.tmp
*.bak

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/

# Kind / local cluster
.kube/


k8s/